@tailwind base;
@tailwind components;
@tailwind utilities;

$montserrat-font: var(--font-montserrat);
$open-sans-font: var(--font-open-sans);
$dancing-script-font: var(--font-dancing-script);

html {
  --bg-color: #ffffff;
  --text-color: #000000;
}

html.dark {
  --bg-color: #000000;
  --text-color: #ffffff;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: $open-sans-font;
}

h1,
h2,
h3,
h4,
h5,
p,
a {
  font-family: $montserrat-font;
}

.main-content {
  padding-top: 72px;
}

.dancing-script {
  font-family: $dancing-script-font !important;
}

.container {
  max-width: 1440px;
}
