.project-headline::before {
  display: inline-block;
  content: "";
  border-bottom-style: solid;
  border-bottom-width: 2px;
  width: 4rem;
  transform: translateY(-0.35rem);
  @apply border-gray-500;
}

.project-headline {
  @apply text-gray-500 text-2xl;
}
