@import '../../globals.scss';

$dancing-script-font: var(--font-dancing-script);

.devan-title {
  font-family: $dancing-script-font;

  &:hover {
    @apply transition-colors duration-200 text-darkRed;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
}

.li-nav-tag {
  @apply text-lg font-semibold text-center select-none;

  &:hover {
    @apply underline underline-offset-2;
  }
}

.ul-nav {
  @apply flex flex-row gap-x-6 items-center;

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.nav-slider-open {
  position: fixed;
  height: 100vh;
  width: 19rem;
  padding: 1rem;
  background-color: white;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
  transform: translateX(0);
  transition: transform 0.5s ease-out;

  html.dark & {
    background-color: rgb(34, 34, 34);
  }
}

.nav-slider-closed {
  position: fixed;
  height: 100vh;
  width: 19rem;
  padding: 1rem;
  top: 0;
  right: 0;
  bottom: 0;
  transform: translateX(200%);
  transition: transform 0.1s ease-out;
  z-index: 10;
  // visibility: hidden;

  html.dark & {
    background-color: rgb(34, 34, 34);
  }
}

.tinted-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.cross {
  border-radius: 0.25rem;

  &:hover {
    background-color: rgb(223, 223, 223);
  }

  html.dark & {
    &:hover {
      background-color: rgb(54, 54, 54);
    }
  }
}


.heading {
  background-color: var(--bg-color);
}
