$dancing-script-font: var(--font-dancing-script);

.devan-title {
  font-family: $dancing-script-font;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.li-nav-tag {
  @apply text-lg font-semibold;

  &:hover {
   @apply underline underline-offset-2;
  }
}

.ul-nav {
  @apply flex flex-row gap-x-6 items-center;

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.nav-slider-open {
  position: fixed;
  height: 100vh;
  width: 19rem;
  padding: 1rem;
  background-color: white;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
    // transition: transform 0.3s ease;

  html.dark & {
  background-color: rgb(34, 34, 34);
  }
}

// .nav-slider-closed {
//   transform: translateX(100%);
//     /* Move it off-screen to the right */
//     transition: transform 0.3s ease;
// }

.tinted-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.cross {
  border-radius: 0.25rem;

  &:hover {
    background-color: rgb(223, 223, 223);
  }

  html.dark & {
    &:hover {
      background-color: rgb(54, 54, 54);
    }
  }
}
