$dancing-script-font: var(--font-dancing-script);

.devan-title {
  font-family: $dancing-script-font;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.li-tag {
  @apply text-xl font-bold;

  &:hover {
   @apply underline underline-offset-2;
  }
}

.ul-nav {
  @apply flex flex-row gap-x-6 items-center;
}
