$dancing-script-font: var(--font-dancing-script);

.devan-title {
  font-family: $dancing-script-font;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.li-tag {
  @apply text-xl font-bold;

  &:hover {
   @apply underline underline-offset-2;
  }
}

.ul-nav {
  @apply flex flex-row gap-x-6 items-center;

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.nav-slider-open {
  position: fixed;
  height: 100vh;
  width: 18rem;
  background-color: white;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;

  html.dark & {
  background-color: rgb(34, 34, 34);
  }
}

.tinted-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
